- extends ajax|yesno:'skeleton/wrappers/ajax.pug,skeleton/main.pug'
- load i18n
- load utils
- load staticfiles

- block content
  .modal(data-component='[modal/create]')
    h1 Server – New
    .close(data-trigger='[modal/close]')
      i.icon.ion-ios-close
    .modalContent
      form(data-trigger='[modal/form]', data-action='create', data-mode='servers')
        b.mtop.mbotSmall
          i.icon.ion-ios-person(style='margin-right:10px')
          |  Server Details
        .section.group.inputGroup
          input.smallInput(name='name', type='text', required, placeholder='')
          span Name
        .section.group.modalSelect
          ._Dynamic_Select
            ._Title(data-trigger='[composer/select/open]') Choose a Game
            input._Value.hidden(name='game')
            ._Select
              ._Select_Search
                input.skip(type='text', placeholder='Type to filter...', data-trigger='[composer/select/search]')
              ._STitle Results
              ._Container
                - for game in games
                  li(data-trigger='[composer/select/choose]', data-value=game.0)
                    p= game.1
        .section.group.inputGroup
          input.smallInput(name='gamemode', type='text', required, placeholder=' ')
          span
            | Mode
            span.invalid

        b.mtop.mbotSmall
          i.icon.ion-ios-person(style='margin-right:10px')
          |  RCON Details
        .section.group.inputGroup
          input.smallInput(name='ip/port', type='text', required, placeholder=' ', data-transform='ip-port')
          span
            | IP and Port
            span.invalid
        .section.group.inputGroup
          input.smallInput(name='password', type='password', required, placeholder=' ')
          span
            | Password
            span.invalid

        input(type='submit', value='Create Server')

  ul.paginationTabs
    li.invisible Servers
    li.fRight(data-trigger='[modal/open]', data-trigger-target='[modal/create]')
      i.icon.ion-ios-add(style="margin-right:5px")
      | New Server
  .paginationContent
  script.execute window.ajax('servers[overview]', '.paginationContent')
