- extends ajax|yesno:'skeleton/wrappers/ajax.pug,skeleton/main.pug'
- load i18n
- load staticfiles

- block content
  ul.paginationTabs
    li.invisible Servers
    li.fRight
      i.icon.ion-ios-add(style="margin-right:5px")
      | New Server
  .paginationContent
  script.execute window.ajax('servers[overview]', '.paginationContent')
