interface/static/**     linguist-vendored
*.inc                   linguist-vendored
migrations/*            linguist-vendored
# log/migrations/*        linguist-generated
docs/**                 linguist-documentation
api/reference/**        linguist-documentation
include/**              linguist-language=SourcePawn
*.inc                   linguist-language=SourcePawn
hawthorne.inc           linguist-vendored=false
