interface/static/**     linguist-vendored
migrations/**           linguist-generated
docs/**                 linguist-documentation
api/reference/**        linguist-documentation
include/**              linguist-language=SourcePawn
*.inc                   linguist-language=SourcePawn
