.row.pure-g
  .column.icon.username.pure-u-7-24
    span.flag-icon.flag-icon-de
    img(src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/0f/0f7d37f4f53260811d53bfd7fcbfb77a48997093.jpg")
    span indietyp
  .column.icon.server.pure-u-7-24
    i(data-feather="users")
    span root
  .column.icon.online.pure-u-7-24
    i(data-feather="clock")
    span 7 years
  .column.icon.username.pure-u-3-24
    .spacer
    div
      svg.feather(width='24', height='24').red.fill
        circle(cx="12", cy="12", r="12", stroke="none")
    .action
      i.red(data-feather="slash")
