.paginationContent.ct2
  .CBox.nomargin
    h3
      | Chat Log
      input(type="text", placeholder="Search by SteamID, message or player...")
    .section.group
      .col.span_1_of_4.orderChatLog
        select
          option(default="", selected="") Order by timestamp
          option Newest First
          option Oldest First
      .col.span_1_of_4.orderChatLog
        select
          option(default="", selected="") Filter by role
          option Root
          option User
      .col.span_1_of_4.orderChatLog
        select
          option(default="", selected="") Filter by status
          option Online
          option Offline
      .col.span_1_of_4.orderChatLog
        select
          option(default="", selected="") Filter by team
          option S.W.A.T
          option Terrorists
    table
      thead
        tr
          th(style="width:auto")
          th Player
          th Message
          th.fRight Time
      tbody
        tr
          td(style="width:1px")
            img.country(src="https://demo.hawthornepanel.org/static/flags/de.svg")
          td
            a(href="") Akke
          td(style="width:50%") Hello world.
          td.fRight Today, 15:25
        tr
          td(style="width:1px")
            img.country(src="https://demo.hawthornepanel.org/static/flags/de.svg")
          td
            a(href="") Akke
          td(style="width:50%") Hello world.
          td.fRight June 18th, 05:45
