- load i18n
- load staticfiles
- load utils

.paginationContent.ct1
  .server.CBox
    .section.group.nomargin.serverOverview
      .col.span_1_of_2.nomargin
        .section.group.nomargin.serverOverview
          .col.span_1_of_2.nomargin
            if data.game == 'csgo'
              img.thumbnail(src="{% static 'img/games/csgo.png' %}")
            elif data.game == 'tf2'
              img.thumbnail(src="{% static 'img/games/tf2.png' %}")
            button.serverActionButton(disabled)
              i.ion.ion-ios-power
              |  Stop
            button.serverActionButton.nomargin(disabled)
              i.ion.ion-ios-sync
              |  Restart
          .col.span_1_of_2.nomargin
            h2
              = data.name
              // .CTag Europe #1
            p
              i.ion.ion-logo-game-controller-b(style="margin: 0 5px 0 0")
              = data.get_game_display
      .col.span_1_of_2.nomargin
        ul.list
          li
            b IP:
            .flex.grow
            a(href="javascript:void(0)", data-trigger="[clip/copy]", data-clipboard-text="{{data.ip}}:{{data.port}}")
              = data.ip|add:":"
              =data.port
              i.ht-ion.ion.ion-ios-copy(style="margin-left:5px")
          li
            b Location:
            .flex.grow
            span= location
          li
            b VAC:
            .flex.grow
            if data.vac
              i.ht-ion.ht-ion-large.ion.ion-ios-checkmark.green
            else
              i.ht-ion.ht-ion-large.ion.ion-ios-close.red
          li
            b Protected:
            .flex.grow
            if data.protected
              i.ht-ion.ht-ion-large.ion.ion-ios-checkmark.green
            else
              i.ht-ion.ht-ion-large.ion.ion-ios-close.red

          li
            b Uptime:
            .flex.grow
            span= status.datapoint.uptime|duration
  .CBox
    h3 Average Population (by day)
    .chartContainer.nomargin
      .chart.population.day
    script.execute window.style.charts.heatmap('.chart.population.day', {{daily|safe}}, ' clients')

  .CBox
    h3 Average Population (by hour)
    //- maybe add weekday?
    .chartContainer.nomargin
      .chart.population.hour
    script.execute window.style.charts.line('.chart.population.hour', {{hourly.labels|safe}}, {{hourly.dataset|safe}}, 200, ' clients')
  .CBox
    .section.group.nomargin.serverOverview
      .col.span_1_of_2.nomargin
        h2 Server Data
        p Data is constantly collected from the server and sent to your Hawthorne panel. We display things such as a list of players, what the current map is, how much time of the map that is remaining, how many admins are on, etc.
      .col.span_1_of_2.nomargin
        ul.list
          li
            b Map:
            .flex.grow
            span= status.datapoint.map
          li
            b Time Left:
            .flex.grow
            span
              if status.datapoint.time_left
                = status.datapoint.time_left|duration
                |  -
                b Map change scheduled for
                  = status.datapoint.time_left|warp|time
              else
                i.icon.ion-ios-infinite
          li
            b Gamemode:
            .flex.grow
            span= data.mode
          li
            b Players:
            .flex.grow
            .exception
              .playerCount(class="{%if status.datapoint.clients.count == data.max_clients%}fullPlayers{%endif%}")
                = status.datapoint.clients.count
                |  of
                = data.max_clients
              a(href="javascript:void(0)", data-trigger="[modal/open]", data-trigger-target="[modal/players]") View Players
              a(href="javascript:void(0)", style="margin-left:10px", data-trigger="[modal/open]", data-trigger-target="[modal/admins]") View Admins
