- load i18n
- load staticfiles
- load compile_static

!!!5
html(lang='en')
  head
    title hawthorne
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Source+Code+Pro" rel="stylesheet")
    link(rel="stylesheet", href='{% static "css/template.sass"|compile %}')

    link(rel="apple-touch-icon-precomposed", type="image/png", href='{% static "favicons/152.png" %}')
    link(rel="shortcut icon", type="image/png", href='{% static "favicons/16.png" %}')

    for i in favicon_sizes
      - with 'favicons/'|add:i|add:'.png' as url
        link(rel="shortcut icon", type="image/png", sizes="{{i}}x{{i}}", href="{% static url %}")

    meta(name="theme-color", content="#2E363F")
    // script(src="//unpkg.com/fermata@0.11.0-beta1/fermata.js")

    script(src="//cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js")
    script(src="//unpkg.com/balalaika@1.0.1/balalaika.min.js")
    script(src="{% static 'js/main.coffee'|compile %}")
  body
    {% csrf_token %}
    script.
      window.csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value;
    #header
      .logo
        - include 'assets/logo.svg'
        .heading
          span.white haw
          span.primary thorne
      .item(onclick='window.scrollToYPages(1)')
        .spacer
        .cont
          i(data-feather="home")
          span Home
        .spacer
      .item(onclick='window.scrollToYPages(2)')
        .spacer
        .cont
          i(data-feather="layers")
          span Functionality
        .spacer
      .item(onclick='window.scrollToYPages(3)')
        .spacer
        .cont
          i(data-feather="package")
          span Features
        .spacer
      .item(onclick='window.scrollToYPages(4)')
        .spacer
        .cont
          i(data-feather="film")
          span Demo
        .spacer
      .item(onclick='window.scrollToYPages(5)')
        .spacer
        .cont
          i(data-feather="server")
          span Hosting
        .spacer
      .item(onclick='window.scrollToYPages(6)')
        .spacer
        .cont
          i(data-feather="award")
          span Partners
        .spacer

    #content-wrapper
      .section
        .picture.left
          .img-container.left
            img(src='{% static "img/1.png" %}')
        .message
          .spacer
          .desc
            .top Game Server Management
            .right.reel-5(style="display:flex")
              div just reinvented
              div made exciting
              div finally beautiful
              div brought to the 21st century
              div open source!
            .righto.flex.center.links
              .spacer
              - include 'assets/discord.svg'
              i(data-feather="github", onclick="window.open('https://github.com/indietyp/hawthorne','GitHub Hawthorne');")
            //- .rightu.flex
            //-   .text Installation:
            //-   pre.code.code-command sh -c "$(curl -fsSL raw.githubusercontent.com/indietyp/hawthorne/master/tools/install.sh)"
          .spacer
      .section
        .message
          .spacer
          .list
            .point
              i.primary(data-feather="chevron-right")
              span Multiple Managed Instances
            .point
              i.primary(data-feather="chevron-right")
              span Bans
            .point
              i.primary(data-feather="chevron-right")
              span Mute & Gags
            .point
              i.primary(data-feather="chevron-right")
              span Chat Logs
            .point
              i.primary(data-feather="chevron-right")
              span Overview over active Players
            .point
              i.primary(data-feather="chevron-right")
              span Internal & Gameserver Announcements
            .point
              i.primary(data-feather="chevron-right")
              span Public Accessible Configurable Page
            .point
              i.primary(data-feather="chevron-right")
              span
                span Direct Integration through
                span.primary.prefix Sourcemod
            .point
              i.primary(data-feather="chevron-right")
              span Rich Settings
            .point
              i.primary(data-feather="chevron-right")
              span Handcrafted UI
          .spacer
        .picture.right
          .img-container.right
            img(src='{% static "img/2.png" %}')
      .section
        .picture.left
          .img-container.left
            img(src='{% static "img/3.png" %}')
        .message
          .spacer
          .list
            .point
              i.primary(data-feather="chevron-right")
              span
                span.primary 120+
                span.prefix different permissions
            .point
              i.primary(data-feather="chevron-right")
              span Several Integrations Out of the Box
            .point
              i.primary(data-feather="chevron-right")
              span
                span built with
                span.prefix.primary modern
                span.prefix technologies
            .point
              i.primary(data-feather="chevron-right")
              span Lightning-Fast load speeds
            .point
              i.primary(data-feather="chevron-right")
              span mature API & Webhooks
            .point
              i.primary(data-feather="chevron-right")
              span Multilingual
            .point
              i.primary(data-feather="chevron-right")
              span One Command Installation
            .point
              i.primary(data-feather="chevron-right")
              span Discord Integration
            .point
              i.primary(data-feather="chevron-right")
              span.primary Open Source
            .point
              i.primary(data-feather="chevron-right")
              span Intuitive & Secure
          .spacer
      .section
        .message
          .spacer
          .message.column
            .main.flex.center
              i(data-feather="film")
              span Demo
              i(data-feather="arrow-up-right")
            .annotation
              span The sample servers are provided by
              span.prefix.link Vengence Gamers
              span.prefix &
              span.prefix.link Ace Networks
          .spacer
        .picture.right
          .img-container.right
            img(src='{% static "img/4.png" %}')
      .section
        .picture.left
          .img-container.left
            img(src='{% static "img/5.png" %}')
        .message.flex.offer-selection
          .offer
            .header
              .package.flex.center
                .spacer
                span S
                .spacer
              .info.flex.center
                .spacer
                span Hobby
                .spacer
            .summary Recommended for up to 2 instances & 100 daily players
            .comparison
              .item
                span.black CPU:
                .spacer
                span.dgray shared
              .item
                span.black Memory:
                .spacer
                span.dgray 256Mb
              .item
                span.black Storage:
                .spacer
                span.dgray 10Gb
              .item
                span.black Domain:
                .spacer
                span.dgray sub domain
            .price
              .tag
                .spacer
                span &euro;
                span 4
                span.sub 99
                span.small /mo
                .spacer
                i.black(data-feather="shopping-cart")
                .spacer
          .offer
            .header
              .package.flex.center
                .spacer
                span M
                .spacer
              .info.flex.center
                .spacer
                span Casual
                .spacer
            .summary Recommended for up to 5 instances & 1000 daily players
            .comparison
              .item
                span.black CPU:
                .spacer
                span.dgray 1 core
              .item
                span.black Memory:
                .spacer
                span.dgray 512Mb
              .item
                span.black Storage:
                .spacer
                span.dgray 50Gb
              .item
                span.black Domain:
                .spacer
                span.dgray custom
            .price
              .tag
                .spacer
                span &euro;
                span 9
                span.sub 99
                span.small /mo
                .spacer
                i.black(data-feather="shopping-cart")
                .spacer
          .offer
            .header
              .package.flex.center
                .spacer
                span L
                .spacer
              .info.flex.center
                .spacer
                span Serious
                .spacer
            .summary Recommended for up to 25 instances & 100000 daily players
            .comparison
              .item
                span.black CPU:
                .spacer
                span.dgray 2 cores
              .item
                span.black Memory:
                .spacer
                span.dgray 2Gb
              .item
                span.black Storage:
                .spacer
                span.dgray 100Gb
              .item
                span.black Domain:
                .spacer
                span.dgray custom
            .price
              .tag
                .spacer
                span &euro;
                span 14
                span.sub 99
                span.small /mo
                .spacer
                i.black(data-feather="shopping-cart")
                .spacer
      .section
        .message
          .spacer
          .message.partners
            .list
              .point
                i.primary(data-feather="chevron-right")
                .container
                  .text
                    span.primary LAEVIS
                    span.prefix native support and integration
                  .note LAEVIS is a forum platform that is finally doing forums right.
          .spacer
        .picture.right
          .img-container.right
            img(src='{% static "img/6.png" %}')
    script.
      feather.replace()
