.innerMain
  h1 Logs
  .CBox.nomargin
    .timeTableGo.fRight
      i.icon.ion-ios-arrow-forward
    .timeTableGo.fLeft
      i.icon.ion-ios-arrow-back
    h3.center 22nd of June
    table.timeTable
      thead
        tr
          th
          th.center Time
          th Error Message
          th Error Code
          th Source
          th
      tbody
        tr
          td
            label.checkmarkContainer
              input(type='checkbox')
              span.checkmark
            .checkboxDialogue.modalSelect
              select
                option Delete
                option Solve
              button
                i.icon.ion-ios-checkmark
                |  Confirm
              button.paginationTabsDanger
                i.icon.ion-ios-close
                |  Cancel
          td 18:32
          td(style='width:50%')
            b Cannot Connect to Database Server
            |  – Your connection attempt failed for user 'root' from your host to server at
            b 127.0.0.1:3306
            | : Can't connect to mysql server on '
            b 127.0.0.1
            | '
          td 10061
          td hawthorne.smx
          td
            i.icon.ion-ios-warning(title='Critical Error')
        tr
          td
            label.checkmarkContainer
              input(type='checkbox')
              span.checkmark
            .checkboxDialogue.modalSelect
              select
                option Woop
                option 123
              button
                i.icon.ion-ios-checkmark
                |  Confirm
              button.paginationTabsDanger
                i.icon.ion-ios-close
                |  Cancel
          td 19:15
          td(style='width:50%') API Busy
          td NaN
          td hawthorne.smx
          td
.innerSide
  h1 Options
  .CBox.nomargin
    h3
      i.icon.ion-ios-funnel(style='margin-right:10px')
      |  Search Filters
    p Displaying active search filters:
    ul.searchTags
      li
        b Keywords
        |  – MySQL, Database
        i.icon.ion-ios-close
      li
        b Error Codes
        |  – 10061, 400
        i.icon.ion-ios-close
      li
        b Servers
        |  – Surf
        i.icon.ion-ios-close
      li
        b Type
        |  – Critical Error
        i.icon.ion-ios-close
      li
        b Files
        |  – sourcemod.log, error.log
        i.icon.ion-ios-close
