- load i18n
- load staticfiles
- load interface_utils

.paginationContent.ct1
  .server.CBox
    .section.group.nomargin.serverOverview
      .col.span_1_of_2.nomargin
        h2 Group
        p Control what aspects of the panel which your admins have access to, as well as what they don't have access to. Assign them to groups with special names for easier management.
        // .section.group.nomargin.serverOverview
        //   .col.span_1_of_2.nomargin
        //     if data.game == 'csgo'
        //       img.thumbnail(src="{% static 'img/games/csgo.png' %}")
        //     button.serverActionButton(disabled="")
        //       i.fa.fa-stop
        //       |  Stop
        //     button.serverActionButton.nomargin(disabled="")
        //       i.fa.fa-sync
        //       |  Restart
        //   .col.span_1_of_2.nomargin
        //     h2= group.name
      .col.span_1_of_2.nomargin
        ul.list
          li
            b Name:
            = group.name
          li
            b Granted:
            = group|permission_percentage|add:"%"
          li
            b Members:
            = group.user_set|length

  .innerMain(style="margin-top:48px")
    h1 Members
    .CBox.nomargin
      .timeTableGo.fRight(onclick="window.ajax('admins[web][admins]', '.paginationContent table tbody', window.pagination.current + 1, true)")
        i.icon.ion-ios-arrow-forward
      .timeTableGo.fLeft(onclick="window.ajax('admins[web][admins]', '.paginationContent table tbody', window.pagination.current - 1, true)")
        i.icon.ion-ios-arrow-back
      h3.center
        span Page
        span.current 1
        span /{{pages}}
      table.timeTable
        thead
          tr
            th
            th
            th Username
        tbody

  .innerSide(style="margin-top:48px")
    h1 Options
    .CBox.nomargin
      h3
        i.icon.ion-ios-funnel(style='margin-right:10px')
        |  Search Filters
        button(style="margin-top: -13px;float: right;width: auto;") Edit
      p Displaying active search filters:
      ul.searchTags
        li
          b Username
          |  – indietyp
          i.icon.ion-ios-close
