.row.pure-g
  .column.icon.username.pure-u-7-24
    span.flag-icon.flag-icon-de
    img(src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/0f/0f7d37f4f53260811d53bfd7fcbfb77a48997093.jpg")
    span indietyp
  .column.icon.invoker.pure-u-7-24
    i(data-feather="zap")
    span indietyp
  .column.icon.reason.pure-u-7-24
    i(data-feather="paperclip")
    span I do not like him
  .column.icon.pure-u-3-24
    .spacer
    div
      i.explicit.green(data-feather="volume-x")
    div
      i.explicit.red(data-feather="message-circle")
  .column.icon.placeholder.pure-u-7-24
  .column.icon.server.pure-u-7-24
    i(data-feather="hard-drive")
    span Retake 76
  .column.icon.time.pure-u-7-24
    i(data-feather="clock")
    span 12.17.18 11:13 - 13.17.18 11:13
  .column.icon.pure-u-3-24
    .spacer
    .action
      i(data-feather="edit-2")
    .action
      i.red(data-feather="trash-2")
