.row.pure-g
  .column.icon.username.pure-u-7-24
    i(data-feather="hard-drive")
    span= data.name
  .column.icon.username.pure-u-17-24
    i(data-feather="compass")
    span= data.get_game_display
  .column.icon.placeholder.pure-u-7-24
  .column.icon.username.pure-u-7-24
    i(data-feather="map")
    span= data.executed.status.stats.map
  .column.icon.username.pure-u-7-24
    i(data-feather="users")
    span= data.executed.status.stats.online
