- load i18n
.notificationWarning
  h3 There is an update available!
  | You're running
  = current
  |  while the latest version of Hawthorne is
  = upstream
  |. We strongly recommend you to upgrade to the latest version.
  a(href='')
    button Update Now
