- load interface_utils

.row.pure-g
  input.uuid.hidden(type="hidden", value=data.id)
  input.server.hidden(type="hidden", value=server.id)
  .column.icon.username.pure-u-10-24
    .icon-container.flex.center
      .img__circle__container
        - with 'flags/'|add:data.country.code|lower|add:'.svg' as url
          img(src='{% static url %}')
      .img__circle__container
        img(src="{{ data.avatar }}")
    div.namespace= data.namespace
  .column.icon.online.pure-u-10-24
    i(data-feather="clock")
    span= data.usetime|duration
  .column.icon.username.pure-u-4-24
    .spacer
    .action
      i(onclick="window.api.submit('kick', this)", data-feather="slash")
