.item.pure-u-1-1.pure-g.second
  input.hidden.uuid(type='hidden', value=data.id)
  .heading.flex
    span= data.name
    .spacer
    .icons
      .action
        i(data-feather='edit-2')
      .action
        i(data-feather='trash-2', onclick="window.api.remove('server', this)")

  .pure-u-1-1
    .row.overview.item.pure-g
      .section.icon.pure-u-1-2.pure-u-lg-1-3
        i(data-feather='compass')
        span.content= data.get_game_display
      .section.icon.pure-u-1-2.pure-u-lg-1-3
        i(data-feather='map')
        span.content de_mirage [DUMMY]
      .section.icon.pure-u-1-2.pure-u-lg-1-3
        i(data-feather='briefcase')
        span.content
          if data.mode is not None
            = data.mode
          else
            | ----
      .section.icon.pure-u-1-2.pure-u-lg-1-3
        i(data-feather='wifi')
        span.content
          =data.ip|add:":"
          =data.port
      .section.icon.pure-u-1-2.pure-u-lg-1-3
        i(data-feather='lock')
        span.content ********
      .section.icon.pure-u-1-2.pure-u-lg-1-3
        i(data-feather='shield')
        span.content
          if data.vac
            | VAC
          else
            | ----
      .section.icon.pure-u-1-2.pure-u-lg-1-3
        i(data-feather='layers')
        span.content 01 - 01 [DUMMY]
      .section.icon.pure-u-1-2.pure-u-lg-1-3
        i(data-feather='users')
        span.content 12 [DUMMY]
      .section.icon.pure-u-1-2.pure-u-lg-1-3
        i(data-feather='clock')
        span.content= data.created_at|timesince

  .row.add.pure-g
    .pure-u-1-1.flex.center.relative
      pre.code.code-command(data-placeholder='Enter command here...' contenteditable="true", onkeypress="input_verification('command')")
      .icon.action.send-command
        i.explicit(data-feather='send')

    .pure-u-1-2.chart-section
      .ct-chart.ct-minor-seventh(id="chart-{{data.id}}")
      .ct-info
        .info
          .spacer
          span.number 12
          .description
            .content last
            .content month
          .spacer
        .info
          .spacer
          span.number 24
          .description
            .content all
            .content time
          .spacer
      script.execution.
        var data = {
          labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
          series: [
            [5, 2, 4, 1, 3]
          ]
        };
        var options = {
          showPoint: false,
          axisX: {
              showGrid: false,
          },
          axisY: {
              position: 'end',
              onlyInteger: true,
          },
          fullWidth: true,
          low: 0
        }
        new Chartist.Line("#chart-{{data.id}}", data, options);
        console.log('test')
    .pure-u-1-2
      .pure-g
        //- partials/server/online.pug
