- load static
- load utils
- load humanizer

tr(data-id="{{data|get_groups_id}}", data-user="{{data.id}}", data-remove)
  td(style="width: 48px;")
    if not data.is_superuser
      label.checkmarkContainer
        input(type='checkbox', data-trigger='[ct/toggle]')
        span.checkmark
      .checkboxDialogue.modalSelect
        select
          option(value='delete') Delete
        button(data-trigger='[table/choice]', data-mode='admins[web][admins]')
          i.icon.ion-ios-checkmark
          |  Confirm
        button.paginationTabsDanger
          i.icon.ion-ios-close
          |  Cancel
  td(style='width:1px')
    if data.is_steam
      - include "assets/steam.svg"
    else
      - include "assets/local.svg"
  td
    if data.is_steam
      a(href='javascript:void(0)', onclick="window.vc('players[detailed]', '{{data.id}}')")
        = data.namespace
    else
      = data.username
  td
    if data.is_superuser
      = root
    elif data.groups.count == 0
      | NaN
    else
      = data|get_groups_name
  td
    if data.is_superuser
      | 100%
    else
      = data|permission_percentage|add:"%"

