- load staticfiles
- load compile_static

// ========================= CSS =========================
link(rel="stylesheet", href='{% static "css/flag-icon.min.css" %}')
link(rel="stylesheet", href='{% static "css/bp-font.css" %}')
link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Source+Code+Pro" rel="stylesheet")

// We need those for the universal grids - that do not only work in modern browsers
link(rel="stylesheet", href="https://unpkg.com/purecss@1.0.0/build/base-min.css")
link(rel="stylesheet", href="https://unpkg.com/purecss@1.0.0/build/grids-min.css")
link(rel="stylesheet", href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css")

// Chart
link(rel="stylesheet", href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css")

// Dropdown - we partially overwrite them - but not fully
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/choices.js/3.0.2/styles/css/choices.min.css")

// Own Templates
link(rel="stylesheet", href='{% static "css/template.sass"|compile %}')

link(rel="shortcut icon", type="image/ico", href='{% static "img/favicon.ico" %}')
meta(name="theme-color", content="#2E363F")

// ========================= JavaScript =========================
// Charts
script(src="//cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.js")

// Icons
script(src="//cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js")

// Dropdown
script(src="//cdn.jsdelivr.net/npm/choices.js@3.0.2/assets/scripts/dist/choices.min.js")

// JQuery replacement - we can replace those partially
script(src="//underscorejs.org/underscore-min.js")
script(src="//unpkg.com/fermata@0.11.0-beta1/fermata.js")
script(src="//cdn.jsdelivr.net/npm/chibijs@3.0.9/chibi-min.min.js")

// Custom JavaScript - uses these libraries
script(src="{% static 'js/style.coffee'|compile %}")
script(src="{% static 'js/steam.coffee'|compile %}")
script(src="{% static 'js/api.coffee'|compile %}")
script(src="{% static 'js/ajax.coffee'|compile %}")
script(src="{% static 'js/vc.coffee'|compile %}")
