- load i18n
- load staticfiles
- load compile_static

<!DOCTYPE html>
html(lang='en')
  head
    title hawthorne
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    include skeleton/include.pug
  body
    include skeleton/csrf.pug

    #login-wrapper
      .spacer
      .action-container
        .logo
          .spacer
          include assets/logo.svg
          .heading
            span.white haw
            span.primary thorne
          .spacer
        .login-container
          .spacer
          a(href="{% url 'social:begin' 'steam' %}?{{ request.GET.urlencode }}")
            i(data-feather='database')
          .spacer
          a(href="{% url 'social:begin' 'steam' %}?{{ request.GET.urlencode }}")
            - include 'assets/steam.svg'
          .spacer
      .spacer

    script.
      feather.replace()
