- load i18n
- load staticfiles
- load compile_static

// !!!5
html(lang='en')
  head
    title Hawthorne
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(name='ROBOTS', content='NOODP')

    include skeleton/include.pug
  body
    include skeleton/csrf.pug

    .overlay
    .searchOverlay
    include skeleton/servers.pug

    .menu
      include skeleton/sidebar.pug

    .main
      include skeleton/topbar.pug
      include skeleton/breadcrumb.pug
      - block content
      - endblock
