- load i18n
- load staticfiles
- load compile_static

<!DOCTYPE html>
html(lang='en')
  head
    title hawthorne
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    include skeleton/include.pug
  body
    include skeleton/csrf.pug
    #header
      .spacer
      .information.action.default-cursor
        i(data-feather="user")
        - if request.user.steam is False
          span= request.user.username
        - else
          span= request.user.namespace
      .offline.action(onclick="window.location='{% url 'logout' %}';")
        i(data-feather="power")

    #content-wrapper
      #sidebar
        include skeleton/sidebar.pug

      #content.pure-g
        - block content
        - endblock

    script.
      feather.replace()
