- load i18n
- load staticfiles
- load compile_static

!!!5
html(lang='en')
  head
    title hawthorne
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    include skeleton/include.pug
  body
    include skeleton/csrf.pug
    #header
      .spacer
      .information.action.default-cursor
        i(data-feather="user")
        - if not request.user.is_steam
          span= request.user.username
        - else
          span= request.user.namespace
      .offline.action(onclick="window.location='{% url 'logout' %}';")
        i(data-feather="power")

    #content-wrapper
      #sidebar
        include skeleton/sidebar.pug

      #content.pure-g
        include components/announcement.pug
        - block content
        - endblock

    include skeleton/footer.pug

    script.
      feather.replace()

    // .modal
    //   .spacer
    //   .wrapper
    //   .spacer
