- load i18n
- load staticfiles
- load compile_static

html(lang='en')
  head
    title Hawthorne
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(name='ROBOTS', content='NOODP')

    include skeleton/meta/include.pug
  body
    include skeleton/meta/csrf.pug

    .overlay
    .searchOverlay
    include skeleton/globals/servers.pug

    .menu
      include skeleton/sidebar.pug

    .main
      include skeleton/globals/header.pug
      include skeleton/globals/breadcrumb.pug
      - block content
      - endblock
