- load i18n
- load staticfiles
- load compile_static

!!!5
html(lang='en')
  head
    title hawthorne
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    include skeleton/include.pug
  body
    include skeleton/csrf.pug

    #login-wrapper
      .spacer
      .action-container
        .logo
          .spacer
          include assets/logo.svg
          .heading
            span.white haw
            span.primary thorne
          .spacer
        .login-container.column
          input.uuid.hidden(type='hidden', value=user.id)
          input.username(placeholder="Username")
          input.password(placeholder="Password", type='password')
          button(type='submit', onclick='window.api.setup(this)')
            .spacer
            i(data-feather='log-in')
      .spacer

    script.
      feather.replace()
