- load staticfiles
- load i18n

.placeholder
  .spacer
  include assets/logo.svg
  .heading
    span.white hawthorne
  .spacer
.item.action(onclick="window.vc.change('home')")
  i(data-feather="home")
  span {% trans "Home" %}

- if perms.core.view_user
  .item.action(onclick="window.vc.change('player')")
    i(data-feather="users")
    span {% trans "Players" %}

- if perms.core.view_user or perms.core.view_servergroup or perms.core.view_chat
  .item.action(onclick="window.vc.change('admin')")
    i(data-feather="zap")
    span {% trans "Admins" %}

- if perms.core.view_server
  .item.action(onclick="window.vc.change('server')")
    i(data-feather="server")
    span {% trans "Servers" %}

- if perms.core.view_ban
  .item.action(onclick="window.vc.change('ban')")
    i(data-feather="slash")
    span {% trans "Bans" %}

- if perms.core.view_mutegag
  .item.action(onclick="window.vc.change('mutegag')")
    i(data-feather="volume-x")
    span {% trans "Mute/Gag" %}

.item.action(onclick="window.vc.change('announcements')")
  i(data-feather="phone-outgoing")
  span {% trans "Announcements" %}

- if perms.log.view_chat
  .item.action(onclick="window.vc.change('chat')")
    i(data-feather="message-circle")
    span {% trans "Chat" %}

- if request.user.is_superuser
  .item.action(onclick="window.vc.change('settings')")
    i(data-feather="sliders")
    span {% trans "Settings" %}
