- load staticfiles
- load i18n

.logoContainer
  .logo
    include assets/logo.svg
  .hawthorne
    | Haw
    span.thorne thorne
.user
  img(src=request.user.avatar)
  .username= request.user.namespace
  .role= role
  button.btnLogout Logout
ul
  .t MENU
  li.title
    a(href='')
      i.icon.ion-md-globe
      | Home
  li.title
    a(href='#', data-trigger='[dropdown/toggle]')
      i.icon.ion-ios-warning
      | Punishments
      i.icon.ion-ios-arrow-down.more
    .expand
      ul
        li
          a(href='')  How
        li
          a(href='')  To
        li
          a(href='')  Slaughter
        li
          a(href='')  A puppy
  li.title
    a(href='#', data-trigger='[dropdown/toggle]')
      i.icon.ion-ios-people
      |  Players
      i.icon.ion-ios-arrow-down.more
    .expand
      ul
        li
          a(href='')  How
        li
          a(href='')  To
        li
          a(href='')  Slaughter
        li
          a(href='')  A puppy
  li.title
    a(href='')
      i.icon.ion-ios-flash
      |  Admins
  li.title
    a(href='')
      i.icon.ion-logo-buffer
      |  Instances
  li.title
    a(href='')
      i.icon.ion-ios-close-circle
      |  Bans
  li.title
    a(href='')
      i.icon.ion-ios-megaphone
      |  Announcements
  li.title
    a(href='')
      i.icon.ion-ios-chatbubbles
      |  Chat
  li.title
    a(href='')
      i.icon.ion-ios-settings
      |  Settings

// window.vc.change('settings')
