- load staticfiles
- load i18n

.logoContainer
  .logo
    include assets/logo.svg
  .hawthorne
    | Haw
    span.thorne thorne
.user
  img(src=request.user.avatar)
  .username= request.user.namespace
  .role= role
  button.btnLogout(onclick="window.location='{% url 'logout' %}';") Logout

ul
  .t MENU
  li.title
    a(href='')
      i.icon.ion-md-globe
      | Dashboard
  li.title
    a(href='#', data-trigger='[dropdown/toggle]')
      i.icon.ion-ios-warning
      | Punishments
      i.icon.ion-ios-arrow-down.more
    .expand
      ul
        li
          a(href='') Mutes
        li
          a(href='') Gags
        li
          a(href='') Bans
  li.title
    a(href='#', data-trigger='[dropdown/toggle]')
      i.icon.ion-ios-people
      | Players
  li.title
    a(href='')
      i.icon.ion-ios-flash
      | Accounts
  li.title
    a(href='')
      i.icon.ion-logo-buffer
      | Servers
  li.title
    a(href='')
      i.icon.ion-ios-megaphone
      | Announcements


// window.vc.change('settings')
