- load staticfiles
- load i18n

.logoContainer
  .logo
    include assets/logo.svg
  .hawthorne
    | Haw
    span.thorne thorne
.user
  img(src=request.user.avatar)
  .username= request.user.namespace
  .role= role
  button.btnLogout(onclick="window.location='{% url 'logout' %}';") Logout

ul
  .t MENU
  li.title(onclick="window.vc('home')")
    a(href="javascript:void(0)")
      i.icon.ion-md-globe
      | Dashboard
  li.title
    a(href='#', data-trigger='[dropdown/toggle]')
      i.icon.ion-ios-warning
      | Punishments
      i.icon.ion-ios-arrow-down.more
    .expand
      ul
        li(onclick="window.vc('punishments[bans]')")
          a(href="javascript:void(0)") Bans
        li(onclick="window.vc('punishments[mutes]')")
          a(href="javascript:void(0)") Mutes
        li(onclick="window.vc('punishments[gags]')")
          a(href="javascript:void(0)") Gags
  li.title
    a(href='#', data-trigger='[dropdown/toggle]')
      i.icon.ion-ios-people
      | Players
  // li.title
  //   a(href='')
  //     i.icon.ion-ios-flash
  //     | Accounts
  li.title
    a(href='#', data-trigger='[dropdown/toggle]')
      i.icon.ion-ios-flash
      | Admins
      i.icon.ion-ios-arrow-down.more
    .expand
      ul
        li
          a(href='') Servers
        li
          a(href='') Web
  li.title(onclick="window.vc('servers')")
    a(href="javascript:void(0)")
      i.icon.ion-logo-buffer
      | Servers
  li.title
    a(href='')
      i.icon.ion-ios-megaphone
      | Announcements


// window.vc.change('settings')
