- load staticfiles

.placeholder
  .spacer
  include assets/logo.svg
  .heading
    span.green Boom
    span.white Panel
  .spacer
.item.action
  i(data-feather="home")
  span Home
.item.action
  i(data-feather="users")
  span Players
.item.action
  i(data-feather="zap")
  span Admins
.item.action
  i(data-feather="server")
  span Servers
.item.action
  i(data-feather="slash")
  span Bans
.item.action
  i(data-feather="volume-x")
  span Mute/Gag
.item.action
  i(data-feather="phone-outgoing")
  span Announcements
.item.action
  i(data-feather="message-circle")
  span Chat
.item.action
  i(data-feather="sliders")
  span Settings
