.notificationWarning
  h3 There is an update available!
  | You're running v0.8.4 while the latest version of Hawthorne is v0.8.5. We strongly recommend you to upgrade to the latest version.
  a(href='')
    button Update Now
