- extends ajax|yesno:'skeleton/wrappers/ajax.pug,skeleton/main.pug'
- load i18n
- load staticfiles

- block content
  .modal.modalDynamic(data-component='[modal/group/add]')
    h1 Group – New
    .close(data-trigger='[modal/close]')
      i.icon.ion-ios-close
    .modalContent
      b.mtop.mbotSmall
        i.icon.ion-ios-person(style='margin-right:10px')
        |  Group Details
      .section.group
        .col.span_1_of_2
          input.smallInput(type='text', placeholder='Group name')
        .col.span_1_of_2
          input.smallInput(type='text', placeholder='Group immunity (0-99)')
      .section.group
        .col.span_1_of_2
          input.smallInput(type='text', placeholder='Expires in (11h 6m)')
        .col.span_1_of_2.modalSelect
          ._Dynamic_Select
            ._Title(data-trigger='[composer/select/open]') Choose a server
            ._Select
              ._Select_Search
                input(type='text', placeholder='Type to search in Steam...')
              ._STitle Results
              ._Container
                li(data-trigger='[composer/select/choose]')
                  img.composerAvatar(src='https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/63/634ac38fd17b1b9527af0639f2295ac26e62c0b7_medium.jpg')
                  p
                    b Some random server
      b.mbotSmall
        i.icon.ion-ios-flag(style='margin-right:10px')
        |  Flags
      .section.group
        .col.span_1_of_4
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Reserved Slots
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Generic
        .col.span_1_of_4
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Kick
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Ban
        .col.span_1_of_4
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Slap
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Map
        .col.span_1_of_4
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Cvar
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Config
      .section.group
        .col.span_1_of_4
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Chat
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Vote
        .col.span_1_of_4
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Password
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Remote Control
        .col.span_1_of_4
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Cheats
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Custom 1
        .col.span_1_of_4
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Custom 2
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Custom 3
      .section.group
        .col.span_1_of_4
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Custom 4
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Custom 5
        .col.span_1_of_4
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Custom 6
      button
        i.fa.fa-save(style='margin-right:10px;')
        |  Save

  ul.paginationTabs(data-target='punishments[bans]')
    li(data-trigger="[ct/switch]", data="", style="visibility:hidden")
      if mode == "ban"
        | Bans
      if mode == "mute"
        | Mutes
      if mode == "gag"
        | Gags
    li.fRight(data-trigger='[modal/open]', data-trigger-target='[modal/admins/add]')
      i.icon.ion-ios-add(style="margin-right:5px")
      if mode == "ban"
        | New Ban
      if mode == "mute"
        | New Mute
      if mode == "gag"
        | New Gag

  script.execute.
    window.lazy('punishments[{{mode}}s]', '')
    window._.menu()
    window._.init()
