- extends ajax|yesno:'skeleton/wrappers/ajax.pug,skeleton/main.pug'
- load i18n
- load staticfiles

- block content
  .modal.modalDynamic(data-component='[modal/admins/add]')
    h1
      if mode == "ban"
        | Bans
      if mode == "mute"
        | Mutes
      if mode == "gag"
        | Gags
      |  – New
    .close(data-trigger='[modal/close]')
      i.icon.ion-ios-close
    .modalContent
      .section.group.modalSelect
        ._Dynamic_Select
          ._Dynamic_Layer
          ._Title._Select_User(data-trigger='[composer/select/open]') Select a User
          ._Select
            ._Select_Search(style='position:relative')
              input(type='text', placeholder='Type to search...', data-trigger='[composer/select/steam]')
              .tooltip_container
                .tooltip.left You can search via SteamID64, SteamID3, SteamID2, Steam profile URL or a username in the Hawthorne local database.
                i.icon.ion-ios-information-circle-outline
            ._STitle Results
            ._Container
            ._Loading
              ._Loader
      .section.group.modalSelect
        ._Dynamic_Select
          ._Dynamic_Layer
          ._Title(data-trigger='[composer/select/open]') Choose a Server
          ._Select
            ._Select_Search
              input(type='text', placeholder='Type to search...', data-trigger='[composer/select/search]')
            ._STitle Results
            ._Container
              - for server in servers
                li(data-trigger='[composer/select/choose]')
                  p= server.name
      .section.group.inputGroup
        input.smallInput(type='text', required, placeholder=' ')
        span Reason
      .section.divider
        .group.inputGroup
          input.smallInput(type='text', data-trigger='[input/duration]', placeholder=' ')
          span Length
          .tooltip_container
            .tooltip.left Valid is the duration format described in <a style='color:green' href='https://tools.ietf.org/html/rfc3339#page-13', target='_blank'>RFC 3339, Page 13</a> as is the order. The P will be inserted automatically.
            i.icon.ion-ios-information-circle-outline
        .or or
        .group.inputGroup
          input(placeholder='Select a Date')#flatpickr
          script.execute flatpickr('#flatpickr', {enableTime: true,dateFormat: "Y-m-d H:i",minDate: new Date()});
      button.unset
        i.icon.ion-ios-save(style='margin-right:6px;')
        | Save
  .modal.modalDynamic(data-component='[modal/group/add]')
    h1 Group – New
    .close(data-trigger='[modal/close]')
      i.icon.ion-ios-close
    .modalContent
      b.mtop.mbotSmall
        i.icon.ion-ios-person(style='margin-right:10px')
        |  Group Details
      .section.group
        .col.span_1_of_2
          input.smallInput(type='text', placeholder='Group name')
        .col.span_1_of_2
          input.smallInput(type='text', placeholder='Group immunity (0-99)')
      .section.group
        .col.span_1_of_2
          input.smallInput(type='text', placeholder='Expires in (11h 6m)')
        .col.span_1_of_2.modalSelect
          ._Dynamic_Select
            ._Title(data-trigger='[composer/select/open]') Choose a server
            ._Select
              ._Select_Search
                input(type='text', placeholder='Type to search in Steam...')
              ._STitle Results
              ._Container
                li(data-trigger='[composer/select/choose]')
                  img.composerAvatar(src='https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/63/634ac38fd17b1b9527af0639f2295ac26e62c0b7_medium.jpg')
                  p
                    b Some random server
      b.mbotSmall
        i.icon.ion-ios-flag(style='margin-right:10px')
        |  Flags
      .section.group
        .col.span_1_of_4
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Reserved Slots
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Generic
        .col.span_1_of_4
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Kick
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Ban
        .col.span_1_of_4
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Slap
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Map
        .col.span_1_of_4
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Cvar
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Config
      .section.group
        .col.span_1_of_4
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Chat
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Vote
        .col.span_1_of_4
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Password
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Remote Control
        .col.span_1_of_4
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Cheats
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Custom 1
        .col.span_1_of_4
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Custom 2
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Custom 3
      .section.group
        .col.span_1_of_4
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Custom 4
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Custom 5
        .col.span_1_of_4
          .modalFlags
            label.switch
              input(type='checkbox')
              span.slider.round
            .switchText Custom 6
      button
        i.fa.fa-save(style='margin-right:10px;')
        |  Save

  ul.paginationTabs(data-target='punishments[bans]')
    li(data-trigger="[ct/switch]", data="", style="visibility:hidden")
      if mode == "ban"
        | Bans
      if mode == "mute"
        | Mutes
      if mode == "gag"
        | Gags
    li.fRight(data-trigger='[modal/open]', data-trigger-target='[modal/admins/add]')
      i.icon.ion-ios-add(style="margin-right:5px")
      if mode == "ban"
        | New Ban
      if mode == "mute"
        | New Mute
      if mode == "gag"
        | New Gag

  script.execute.
    window.lazy('punishments[{{mode}}s]', '')
    window._.menu()
    window._.init()
