.row.pure-g
  .column.icon.username.pure-u-7-24
    span.flag-icon.flag-icon-de
    img(src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/0f/0f7d37f4f53260811d53bfd7fcbfb77a48997093.jpg")
    span indietyp
  .column.icon.server.pure-u-7-24
    i(data-feather="hard-drive")
    span EU-Retake 3
  .column.icon.online.pure-u-7-24
    i(data-feather="clock")
    span 3 minutes
  .column.icon.username.pure-u-3-24
    .spacer
    .action
      i.red(data-feather="slash")
