if announcement
  .status-card.flex.center.not__fixed.visible
    .icon
      i.explicit.orange(data-feather="alert-octagon")
    .info.spacer
      .content This is just a sample system wide announcement
    .icon
      i.explicit.gray(data-feather="x-circle")
