- extends ajax|yesno:'skeleton/ajax.pug,skeleton/main.pug'
- load i18n
- load staticfiles

- block content
  .item.pure-u-1-1.pure-g
    .heading Bans
    .list#ban__user
      //- partials/ban/user.pug
    script.execution.
      window.ajax.ban.user(1)

    - if perms.core.change_ban
      .row.add.pure-g
        .column.icon.username.pure-u-7-24
          select#username-input
            option(placeholder) {% trans 'Username' %}
        .column.icon.server.pure-u-7-24
          select#server-input
            option(placeholder) {% trans 'Server' %}
        .column.icon.group.pure-u-7-24.input-wrapper
          input#inputduration(type='datetime-local')
          label(for='inputduration')
            i.explicit(data-feather='clock')
        .column.icon.pure-u-3-24
        .column.icon.placeholder.pure-u-7-24
        .column.icon.group.pure-u-14-24.input-wrapper
          input#inputdescription(type='text')
          label.fix(for='inputdescription')
            i.explicit(data-feather='paperclip')
        .column.icon.pure-u-3-24
          .spacer
          .action
            i.animated.fancy(onclick="window.api.submit('ban', this)", data-feather="plus")
        script.execution.
          document.getElementById('inputduration').min = window.style.utils.date.convert.to.iso(new Date());;
          var usernameinput = new Choices('#username-input', {
            searchChoices: false,
            searchPlaceholderValue: "{% trans 'Steam Username' %}",
            choices: [],
            noResultsText: "{% trans 'Could not find any user' %}",
            noChoicesText: "{% trans 'Type to search' %}",
            itemSelectText: "{% trans 'Press to select' %}",
          })

          debounce_search = function(value, input) {
            window.steam.search(value, input, true);
          }

          var call = debounce(debounce_search, 200);
          usernameinput.passedElement.addEventListener('search', function(event) {
            if (event.detail.value.length > 0) {
              call(event.detail.value, usernameinput);
            }
          }, false);

          var serverinput = new Choices('#server-input', {
            searchEnabled: false,
            choices: [],
          })

          window.usernameinput = usernameinput
          window.serverinput = serverinput

          window.api.servers('', serverinput)
