- extends ajax|yesno:'skeleton/ajax.pug,skeleton/main.pug'
- load i18n
- load staticfiles

- block content
  .item.pure-u-1-1.add__no-add.pure-g#server__server
    script.execution.
      window.ajax.server.server(1)
    .row.pure-g.add__no-add
      .column.icon.group.pure-u-7-24.input-wrapper
        input#inputservername(type='text', placeholder="{% trans 'Name' %}")
        label(style="top: 0px", for='inputservername')
          i.explicit(data-feather='hard-drive')
      .column.icon.immunity.pure-u-7-24.input-wrapper
        input#inputip(placeholder='0.0.0.0:27012', type='text', pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}$")
        label(style="top: 0px", for='inputip')
          i.explicit(data-feather='wifi')
      .column.icon.time.pure-u-7-24.input-wrapper
        input#inputpassword(type='password', placeholder="{% trans 'Password' %}")
        label(style="top: 0px", for='inputpassword')
          i.explicit(data-feather='lock')
      .column.icon.placeholder.pure-u-3-24.checkbox-wrapper
      .column.icon.placeholder.pure-u-7-24
      .column.icon.time.pure-u-7-24.input-wrapper
        input#inputmode(placeholder="{% trans 'Gamemode' %}")
        label(for='inputmode')
          i.explicit(data-feather='briefcase')
      .column.icon.group.pure-u-7-24
        select#gameinput
          option(placeholder) {% trans "Game" %}

        script.execution.
          var gameinput = new Choices('#gameinput', {
            searchEnabled: false,
            {% autoescape off %}
            choices: {{supported}},
            {% endautoescape %}
            classNames: {
              containerOuter: 'choices no__margin__bottom'
            },
            itemSelectText: "{% trans 'Press to select' %}",
          })
          window.gameinput = gameinput
      .column.icon.pure-u-3-24
        .spacer
        .action
          i.animated.fancy(onclick="window.api.submit('server', this)", data-feather="plus")
  //- partials/server/server.pug
