- load staticfiles
- load compile_static

link(href='https://fonts.googleapis.com/css?family=Rubik:300,400,700', rel='stylesheet')

link(rel='stylesheet', href='//cdn.jsdelivr.net/npm/ionicons@4.0.0/dist/css/ionicons.min.css')

link(rel='stylesheet', type='text/css', href='{% static "css/master.styl"|compile %}')
link(rel='stylesheet', type='text/css', href='{% static "css/overrides.css" %}')
link(rel='stylesheet', type='text/css', href='{% static "css/color.css" %}')

link(rel="apple-touch-icon-precomposed", type="image/png", href='{% static "favicons/152.png" %}')
link(rel="shortcut icon", type="image/png", href='{% static "favicons/16.png" %}')

for i in favicon_sizes
  - with 'favicons/'|add:i|add:'.png' as url
    link(rel="shortcut icon", type="image/png", sizes="{{i}}x{{i}}", href="{% static url %}")

script(src='//cdn.jsdelivr.net/npm/frappe-charts@1.1.0/dist/frappe-charts.min.iife.js')
script(src="//cdn.jsdelivr.net/npm/fermata@v0.11.0-beta2/fermata.min.js")
script(src="//cdn.jsdelivr.net/npm/balalaika@1.0.1/balalaika.min.js")
script(src="//cdn.jsdelivr.net/npm/vanilla-text-mask@5.1.1/dist/vanillaTextMask.js")
script(src='//cdn.jsdelivr.net/npm/jaro-winkler@0.2.8/index.min.js')
script(src='//cdn.jsdelivr.net/gh/peterolson/BigInteger.js/BigInteger.min.js')
script(src='//cdn.jsdelivr.net/gh/12pt/steamid-converter/js/converter.min.js')
script(src='//cdn.jsdelivr.net/npm/flatpickr@4.5.2/dist/flatpickr.min.js')
script(src="{% static 'js/duration.min.js' %}")

script(src="{% static 'js/globals.coffee'|compile %}")
script(src="{% static 'js/style.coffee'|compile %}")
script(src="{% static 'js/steam.coffee'|compile %}")
script(src="{% static 'js/api.coffee'|compile %}")
script(src="{% static 'js/ajax.coffee'|compile %}")
script(src="{% static 'js/vc.coffee'|compile %}")
script(src="{% static 'js/tooltip.coffee'|compile %}")
script(src="{% static 'js/plugin.coffee'|compile %}")
