- load utils
- load static

tr(style="{%if data.resolved%}opacity:0.5;{%endif%}",
  data-id='{{data.id}}', data-user='{{data.user.id}}', data-opacity,
  data-reason='{{data.reason}}', data-duration='{{data.length|isoduration}}',
  data-server='{{data.server.id}}', data-overwrite='{{data.user.id}}:{{data.id}}')
  td(style='width:48px')
    if not data.resolved
      label.checkmarkContainer
        input(type='checkbox', data-trigger='[ct/toggle]')
        span.checkmark
      .checkboxDialogue.modalSelect
        select
          option(value='edit') Modify
          option(value='delete') Resolve
        button(data-trigger='[table/choice]', data-mode='punishment')
          i.icon.ion-ios-checkmark
          |  Confirm
        button.paginationTabsDanger(data-trigger='[ct/clear]')
          i.icon.ion-ios-close
          |  Cancel
  td(style='width:1px;height:30px')
    if data.user.country
      - with "flags/"|add:data.user.country.code|add:".svg" as url
        img.country(src='{% static url %}')
  td
    a(href="javascript:void(0)", onclick="window.vc('players[detailed]', '{{data.user.id}}')")
      = data.user.namespace
  td= data.reason
  td
    if data.length
      = data.length|duration
    else
      i.icon.ion-ios-infinite
  td
    if data.server
      a(href="javascript:void(0)", onclick="window.vc('servers[detailed]', '{{data.server.id}}')")
        = data.server.name
    else
      | All
  td
    a(href="javascript:void(0)", onclick="window.vc('players[detailed]', '{{data.created_by.id}}')")
      = data.created_by.namespace
  td
    if data.updated_by
      a(href="javascript:void(0)", onclick="window.vc('players[detailed]', '{{data.updated_by.id}}')")
        = data.updated_by.namespace
    else
      | N/A

