.row.pure-g
  .column.icon.username.pure-u-7-24
    i(data-feather="users")
    span Head-Admin
  .column.icon.server.pure-u-7-24
    i(data-feather="trending-up")
    span 75%
  .column.icon.server.pure-u-7-24
    i(data-feather="clock")
    i.bpi-unlimited
  .column.icon.pure-u-3-24
    .spacer
    .action
      i(data-feather="edit-2")
    .action
      i(data-feather="trash-2")
  .column.icon.username.pure-u-7-24
  .column.icon.group.pure-u-14-24
    i(data-feather="zap")
    .actions
      input(type='checkbox').tiny#reservation
      label.tiny(for='reservation', data-description='eservation') R

      input(type='checkbox').tiny#generic
      label.tiny(for='generic', data-description='eneric') G

      input(type='checkbox').tiny#kick
      label.tiny(for='kick', data-description='ick') K

      input(type='checkbox').tiny#ban
      label.tiny(for='ban', data-description='an') B

      input(type='checkbox').tiny#slay
      label.tiny(for='slay', data-description='lay') S

      input(type='checkbox').tiny#map
      label.tiny(for='map', data-description='ap') M

      input(type='checkbox').tiny#cvar
      label.tiny(for='cvar', data-description='Var') C

      input(type='checkbox').tiny#config
      label.tiny(for='config', data-description='onfig') C

      input(type='checkbox').tiny#chat
      label.tiny(for='chat', data-description='hat') C

      input(type='checkbox').tiny#vote
      label.tiny(for='vote', data-description='ote') V

      input(type='checkbox').tiny#password
      label.tiny(for='password', data-description='assword') P

      input(type='checkbox').tiny#rcon
      label.tiny(for='rcon', data-description='Con') R

      input(type='checkbox').tiny#cheat
      label.tiny(for='cheat', data-description='heats') C
