.row.pure-g
  .column.icon.username.pure-u-8-24
    i(data-feather='user')
    span indietyp
  .column.icon.server.pure-u-8-24
    i(data-feather='hard-drive')
    span EU-Retake 1
  .column.icon.time.pure-u-8-24
    i(data-feather='clock')
    span 02.09 17 13:12
  .column.icon.placeholder.pure-u-8-24
  .column.icon.command.pure-u-16-24
    pre.code.code-command sm_admin
