.row.pure-g
  .column.icon.username.pure-u-7-24
    span.flag-icon.flag-icon-de
    img(src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/0f/0f7d37f4f53260811d53bfd7fcbfb77a48997093.jpg")
    span Indietyp
  .column.icon.group.pure-u-7-24
    i(data-feather="users")
    span root
  .column.icon.server.pure-u-7-24
    i(data-feather="hard-drive")
    span all
  .column.icon.username.pure-u-3-24
    .spacer
    .action
      i(data-feather="edit-2")
    .action
      i(data-feather="trash-2")
