- extends ajax|yesno:'skeleton/ajax.pug,skeleton/main.pug'
- load i18n
- load staticfiles

- block content
  .item.pure-u-1-1.pure-g
    .heading {% trans "Chat" %}
    .row
      .terminal#chat__log
        //- partials/chat/entry.pug
      script.execution.
        window.ajax.chat.logs(1)
