- extends ajax|yesno:'skeleton/wrappers/ajax.pug,skeleton/main.pug'

- load i18n
- load staticfiles
- load utils


- block content
  .section.group.overview
    .col.span_1_of_4
      .c100
        span=servers
        .slice
          .bar
          .fill
      .title Servers
      .info The total amount of servers connected to this panel.
    .col.span_1_of_4
      .c100
        span=punishments
        .slice
          .bar
          .fill
      .title Punishments
      .info The total amount of punishments handed out by your admins.
    .col.span_1_of_4
      .c100
        span=users
        .slice
          .bar
          .fill
      .title Unique Players
      .info The total amount of players that have joined your servers.
    .col.span_1_of_4
      .c100
        span=actions
        .slice
          .bar
          .fill
      .title Actions
      .info The total amount of administrative actions executed.
  h1 Player Activity
  .chartContainer
    canvas.overviewChart
  script.execute.
    var ctx = $(".overviewChart")[0].getContext('2d');
    var gradient = ctx.createLinearGradient(0, 0, 0, 400);
    gradient.addColorStop(0, 'rgba(0,169,255,0.2)');
    gradient.addColorStop(1, 'rgba(0,169,255,0)');

    var dataChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: {{population|flatten:"0"|safe}},
        datasets: [{
          label: 'Players',
          data: {{population|flatten:"1"|safe}},
          backgroundColor: gradient,
          borderColor: [
            'rgb(0,169,255)'
          ],
          borderWidth: 4
        }]
      },
      options: {
        legend: {
          display: false
        },
        maintainAspectRatio: false,
        scales: {
          yAxes: [{
            gridLines: {
              color: "rgba(0, 0, 0, 0)",
            },
            ticks: {
              beginAtZero: true,
              fontColor: 'white'
            }
          }],
          xAxes: [{
            gridLines: {
              color: "rgba(0, 0, 0, 0)",
            },
            ticks: {
              fontColor: 'white'
            }
          }]
        }
      }
    });
    dataChart.canvas.parentNode.style.height = '400px';
    window.ajax("home[update]", '.main > .overview', 0, NaN, 'before');
