- extends ajax|yesno:'skeleton/wrappers/ajax.pug,skeleton/main.pug'

- load i18n
- load staticfiles
- load utils


- block content
  .section.group.overview
    .col.span_1_of_4
      .c100
        span=servers
        .slice
          .bar
          .fill
      .title {% trans "Servers" %}
      .info {% trans "The total amount of servers connected to this panel." %}
    .col.span_1_of_4
      .c100
        span=punishments
        .slice
          .bar
          .fill
      .title {% trans "Punishments" %}
      .info {% trans "The total amount of punishments handed out by your admins." %}
    .col.span_1_of_4
      .c100
        span=users
        .slice
          .bar
          .fill
      .title {% trans "Unique Players" %}
      .info {% trans "The total amount of players that have joined your servers." %}
    .col.span_1_of_4
      .c100
        span=actions
        .slice
          .bar
          .fill
      .title {% trans "Actions" %}
      .info {% trans "The total amount of administrative actions executed in the last 7 days." %}
  h1 {% trans "Player Activity" %}
  .chartContainer
    .chart.overview.dashboard
    //- canvas.overviewChart
  script.execute.
    window.style.charts.heatmap('.chart.overview', {{population|safe}})
    window.ajax("home[update]", '.main > .overview', 0, NaN, 'before');
