- extends ajax|yesno:'skeleton/wrappers/ajax.pug,skeleton/main.pug'

- load i18n
- load staticfiles
- load utils


- block content
  .section.group.overview
    .col.span_1_of_4
      .c100
        span=servers
        .slice
          .bar
          .fill
      .title Servers
      .info The total amount of servers connected to this panel.
    .col.span_1_of_4
      .c100
        span=punishments
        .slice
          .bar
          .fill
      .title Punishments
      .info The total amount of punishments handed out by your admins.
    .col.span_1_of_4
      .c100
        span=users
        .slice
          .bar
          .fill
      .title Unique Players
      .info The total amount of players that have joined your servers.
    .col.span_1_of_4
      .c100
        span=actions
        .slice
          .bar
          .fill
      .title Actions
      .info The total amount of administrative actions executed.
  h1 Player Activity
  .chartContainer
    .chart.overview
    //- canvas.overviewChart
  script.execute.
    window.style.charts.heatmap('.chart.overview', {{population|safe}})
    window.ajax("home[update]", '.main > .overview', 0, NaN, 'before');
