.section.group
  each item in data
    .serverGridItem.col.span_1_of_4(onclick="window.vc('servers[detailed]', '{{item.id}}')")
      b(style="color:rgb(0,169,255)")= item.name
      .playerCount
        i.icon.ion-md-person(style="margin-right:5px")
        = item.user_set|length
      .mapName
        = item|permission_percentage|add:"% granted"
      //- .fLeft
      //-   i.icon.ion-md-time(style="margin-right:5px")
      //-   if item.usetime
      //-     = item.usetime|duration
      //-   else
      //-     | Indefinetly
      //- .fRight
      //-   i.icon.ion-md-filing(style="margin-right:5px")
      //-   if item.server
      //-     = item.server.name
      //-   else
      //-     | All

