- load i18n
.paginationContent
  .innerMain
    h1 Punishments
    .CBox.nomargin
      .timeTableGo.fRight(onclick="window.ajax('players[detailed][punishments]', '.paginationContent table tbody', window.pagination.current + 1, true)")
        i.icon.ion-ios-arrow-forward
      .timeTableGo.fLeft(onclick="window.ajax('players[detailed][punishments]', '.paginationContent table tbody', window.pagination.current - 1, true)")
        i.icon.ion-ios-arrow-back
      h3.center
        span.space-after Page
        span.current 1
        span /{{pages}}
      table.timeTable
        thead
          tr
            th
            th Type
            th Reason
            th Length
            th Server
            th Creator
            th Maintainer
        tbody
  .innerSide
    h1 Options
    .CBox.nomargin
      h3
        i.icon.ion-ios-funnel(style='margin-right:10px')
        |  Search Filters
        button(style="margin-top: -13px;float: right;width: auto;") Edit
      p Displaying active search filters:
      ul.searchTags
        li
          b Type
          |  – Ban, Mute
          i.icon.ion-ios-close
        li
          b Length
          |  – max. 2 weeks
          i.icon.ion-ios-close
        li
          b Resolved
          |  – Yes
          i.icon.ion-ios-close
        li
          b Servers
          |  – Surf
          i.icon.ion-ios-close
        li
          b Creator
          |  – indietyp
          i.icon.ion-ios-close
        li
          b Maintainer
          |  – indietyp
          i.icon.ion-ios-close

  script.execute.
    window.ajax("players[detailed][punishments]", ".paginationContent table tbody", {{current}}, true)
    window.pagination = {
      'current': {{current}},
      'limitation': {{pages}}
    }
