$white: #F7FDFA
$dgray: #4B4A54
$gray: #E7E7E7
$black: #474554

$red: #FF404B
$green: #79BD9A
$blue: #19648D
$lblue: #76B1DF
$purple: #8B6DFF
$lipstick: #954070
$colors: "white" $white, "dgray" $dgray, "gray" $gray, "black" $black, "red" $red, "green" $green, "blue" $blue, "lblue" $lblue, "purple" $purple, "lipstick" $lipstick, "black" #000

body
    margin: 0
    height: 100vh
    background-color: #2E363F
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial

html, button, input, select, textarea, .pure-g [class*="pure-u"]
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial !important

.spacer
    flex-grow: 1

#header
    height: 77px
    position: relative
    background-color: #1F262D
    z-index: 0
    display: flex
    align-items: center

    & > div
        padding-left: 6px
        padding-right: 6px

    & > .offline
        padding-left: 12px
        padding-right: 12px

    & > .logo
        font-size: 4rem
        color: white

#content-wrapper
    display: flex
    z-index: 1
    // width: 100vw

#login-wrapper
    display: flex
    z-index: 1
    align-items: center
    width: 100vw
    height: 100vh

    & .action-container
        width: 50vw

        & .login-container
            display: flex
            align-items: center

        & a
            background: transparent

            & svg
                height: 15vh
                width: 15vh
                transition: 0.5s all ease-out

                &:hover
                    height: 20vh
                    width: 20vh

        .logo
            display: flex
            align-items: center
            margin-bottom: 10vh

            & .heading
                animation-name: logo-heading
                animation-duration: 0.7s
                animation-delay: 1.7s
                animation-timing-function: ease-out
                animation-fill-mode: forwards
                overflow: hidden
                width: 0
                user-select: none

            & span
                font-size: 4em

            & svg
                height: 8em
                width: auto
                margin-right: 0.5em
                background: transparent !important
                stroke: $green !important

            @keyframes logo-heading
                from
                    width: 0
                    opacity: 0

                to
                    width: 20em
                    opacity: 1

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

input[type="number"]
    -moz-appearance: textfield

.input-wrapper
    position: relative

    .appendix
        position: absolute
        top: 4px
        right: 6px
        color: $gray

    & input
        outline: none
        border: none
        font-size: 1em
        width: 100%
        padding-left: 32px
        margin-right: 6px
        background: none
        border-bottom: 1px solid $gray
        transition: border-bottom-color 0.5s ease-out

        & + label
            position: absolute

            &:not(.adjusted)
                top: 10px
            &.adjusted
                top: 4px

            left: 0

            &.fix
                top: 2px

            & > svg
                transition: stroke 0.5s ease-out
                stroke: $gray
                padding-right: 0 !important

        &:hover, &:active, &:focus
            border-bottom-color: $green

            & + label > svg
                stroke: $green
                padding-right: 0 !important

#content
    margin-left: 20vw
    width: 100vw
    padding: 24px

    opacity: 1
    transition: .2s opacity ease-out

    & > .second-set
        margin-top: 1em

    & > .second
        margin-top: 1em

        & .column span:not(.flag-icon)
            width: calc(100% - 36px)

    & .column.command:not(:last-child)
        margin-bottom: 1em

    & > .item
        padding: 12px
        background-color: $white
        height: fit-content
        border: 1px solid transparent
        border-radius: 12px
        font-size: 1.25em
        box-shadow: 0 1em 2em -1em rgba(0, 0, 0, 0.5)

        & > div
            margin-left: 16px

        & .overview
            user-select: none

            &.row
                padding: 0
                margin-bottom: 0.5em

                & > .section
                    // padding-bottom: 0.5em
                    display: flex
                    align-items: center
                    margin-bottom: 0.5em

                    // margin-left: 1em

                    & span
                        font-size: 1.25em

                    & svg
                        height: 2em
                        width: 2em

        &.users
            & .username span.flag-icon
                margin-left: 2px

        & .heading
            width: auto
            margin-left: 10px
            font-size: 2rem
            height: 2.5rem
            border-bottom: 1px solid $gray
            margin-bottom: 12px

            & svg
                height: 1.5rem
                width: 1.5rem

            & .sub
                font-size: 1rem
                margin-left: 0.5em

        & .row
            user-select: none
            padding: 6px

            & .actions
                display: block
                width: calc(100% - 36px)
                &.disabled
                    & input[type="checkbox"]:checked + label
                        color: $black
                        pointer-events: none

                    & input[type="checkbox"]:not(:checked) + label
                        display: none

                &:not(.disabled)
                    & input[type="checkbox"]:checked + label
                        color: $green

                    & input[type="checkbox"]:not(:checked) + label
                        color: $red

                & input[type="checkbox"]
                    display: none

                & input[type="checkbox"] + label
                    transition: color 0.25s ease-out
                    cursor: pointer
                    margin-left: 3px
                    margin-right: 3px
                    position: relative

                    &::after
                        content: attr(data-description)
                        overflow: hidden
                        max-width: 0
                        display: inline-flex
                        transition: max-width 0.5s ease-out
                        color: black

                    &:hover::after
                        max-width: 100px

            & .icon
                display: flex
                align-items: center

                & .feather:not(.m0), & img, & .flag-icon
                    padding-right: 12px

                & .feather, & img, & .flag-icon
                    height: 24px
                    width: 24px

                &.inverse .feather
                    padding-right: 0
                    padding-left: 12px

        & .feather:not(.skip):not(.red):not(.explicit)
            stroke: black !important

        & .action
            display: inline !important

#sidebar
    background-color: #1F262D
    position: fixed
    display: flex
    flex-direction: column
    left: 0
    top: 0
    height: 100vh
    width: 20vw
    overflow: hidden
    z-index: 1

    & > .placeholder
        height: 77px
        padding-bottom: 12px
        display: flex
        align-items: center

        & .heading
            user-select: none
            animation-name: animate-heading
            animation-duration: 0.7s
            animation-delay: 1.7s
            animation-timing-function: ease-out
            animation-fill-mode: forwards
            overflow: hidden
            width: 0

        & span
            font-size: 2em

        & svg
            width: auto
            margin-right: 0.5em
            height: 80%
            background: transparent !important
            stroke: $green !important

        @keyframes animate-heading
            from
                width: 0
                opacity: 0

            to
                width: 10em
                opacity: 1

    & > .item
        opacity: 0.8
        user-select: none
        padding-left: 12px
        cursor: pointer
        display: flex
        align-items: center
        flex-grow: 1
        transition: 0.25s opacity ease-out

        &:hover, &:active, &:focus
            opacity: 1

        & span
            padding-left: 12px
            color: white
            font-weight: 300
            font-size: 1.25rem

        &:last-child
            padding-bottom: 24px

        & > .feather
            width: 2rem
            height: 2rem

.feather
    stroke: white
    transition: stroke .3s ease-out

    &.animated
        transition: transform 0.3s ease-out
        transform-origin: 12px 12px 0px

        &.success
            transform: rotate(45deg)

            & line:nth-child(2)
                transition: transform 0.3s ease-out
                transform-origin: 12px 12px 0px

                transform: matrix(.5, 0, 0, 1, -4, 7)

        &.fail
            transform: rotate(45deg)

.flex
    display: flex

    &.center
        align-items: center

.relative
    position: relative

.search
    position: relative

.search-input-wrapper
    position: absolute
    right: 12px
    top: 9px

    // float: right
    display: flex
    align-items: center

    & input[type='checkbox']
        display: none

    & input[type='text']
        background: none
        max-width: 0
        width: 256px
        outline: none
        border: none
        padding: 0
        margin: 0
        height: 32px
        border-bottom: 3px solid black
        margin-left: 0
        padding-left: 0
        transition: max-width 1s ease-out, margin-left 1s ease-out, padding-left 1s ease-out

    label
        margin-right: -9px

    & input[type='checkbox']:checked + input[type='text']
        max-width: 256px
        margin-left: 3px
        padding-left: 9px

.action
    user-select: none

    &:not(.default-cursor)
        cursor: pointer

    &.default-cursor
        cursor: default

    display: flex
    align-items: center

    & > span
        color: white
        font-weight: 300

.add
    margin-top: 6px
    border-top: 1px solid #E7E7E7

.choices
    outline: none
    background: none
    cursor: text !important
    width: 100%

    & .choices__list
        border: none

    & .choices__inner, & .choices__item, & .choices__input
        font-size: 1.25rem
        background: none
        min-height: 0
        padding: 0 !important
        border-radius: 0
        border: none
        background-color: #F7FDFA !important

    // & .choices__input
    //   background-color: #F7FDFA !important
    //   border: none !important

    & .choices__item, & .choices__input
        padding: 6px !important

pre
    background: #333
    white-space: pre
    word-wrap: break-word
    overflow: auto

pre.code
    border-radius: 4px
    border: 1px solid #292929

pre.code
    // "Source Code Pro", "Inconsolata",
    font-family: "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace
    display: block
    padding: 6px 16px 6px
    overflow-x: auto
    font-size: 13px
    line-height: 19px
    width: 100%
    color: #ddd

pre.code[contenteditable='true']
    // width: unset
    cursor: text
    outline: none

    // add send button

    &:empty:not(:focus):before
        content: attr(data-placeholder)
        opacity: 0.8

pre.code-command
    color: #ffa726

.send-command
    // padding-right: 12px
    padding-left: 12px
    position: absolute
    right: 0
    height: 24px

    & svg
        stroke: white !important

// colors
@each $clr in $colors
    .#{nth($clr, 1)}
        &:not(.hover)
            color: nth($clr, 2)
            stroke: nth($clr, 2) !important

        &.hover
            color: rgba(nth($clr, 2), .8)
            stroke: rgba(nth($clr, 2), .8) !important

            transition: color,stroke .3s ease-out

            &:hover, &:active, &:focus
                color: nth($clr, 2)
                stroke: nth($clr, 2) !important

        &.fill
            fill: nth($clr, 2) !important

.ct-series-a .ct-line
    stroke: $green
    stroke-width: 2px

.ct-info
    display: flex

    & > .info
        display: flex
        align-items: center
        flex-grow: 1

        &:not(:last-child)
            border-right: 1px solid $gray

        & > .number
            font-size: 2.5em

        & > .description
            font-size: 1em

.terminal
    font-size: 0.75em
    font-family: "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace
    padding: 1em
    background: #083952
    color: #f8f8f8
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.2)
    border: 1px solid transparent
    border-radius: 12px
    outline: none

    .command
        &:not(:last-child)
            margin-bottom: 0.5em

        .segment
            display: flex
            align-items: center

            .symbol
                &:not(:first-child)::before, &::after
                    content: "a"
                    visibility: hidden

.username
    .choices
        .choices__item
            display: flex
            align-items: center

// media queiers
@media (max-width: 1000px)
    #sidebar .heading
        display: none

    .item
        justify-content: center
        padding-left: 0 !important

        & > span
            display: none
