//- h1 Europe #1
each item in data
  .serverGridItem(class='{{item.executed.datapoint.is_online|yesno:",itemFaded"}}', onclick="window.vc('servers[detailed]', '{{item.id}}')")
    b(style="color:rgb(0,169,255)")
      if item.name
        = item.name
      else
        | --
    .playerCount(class='{{item.executed.datapoint.is_online|yesno:",noPlayers"}} {%if item.executed.datapoint.clients.count == item.max_clients%}fullPlayers{%endif%}"')
      i.icon.ion-md-person(style="margin-right:5px")
      if item.executed
        | {{item.executed.datapoint.clients.count}} of {{item.max_clients}}
      else
        | 0 of 0
    .mapName
      if item.executed.datapoint.map
        = item.executed.datapoint.map
      else
        | -
    .fLeft
      if item.executed.datapoint.is_online
        .serverStatus.online
        | Online
      else
        .serverStatus.offline
        | Offline
    .chartContainer.serverChart
      .chart(class="chart-{{item.id}}")
    script.execute window.style.charts.card('.chart-{{item.id}}', ["45min ago", "30min ago", "15min ago", "Now"], {{item.executed.dataset|safe}})
