- load i18n
.modal(data-component="[modal/delete]", data-redirect, data-id="{{data.id}}")
  h1 Are you sure you want to continue?
  .close(data-trigger="[modal/close]")
    i.icon.ion-ios-close
  .modalContent
    | Continuing will cause irreversible data loss of <b>{{estimate}}</b> associated objects. These include:
    ul(style="font-family:monospace")
      for k, v in breakdown.items
        li
          = v
          | x
          = k|title
  .actions
    button.paginationTabsDanger(data-trigger='[modal/action]', data-action='delete', data-mode='servers[detailed]')
      i.icon.ion-ios-trash(style="margin-right:10px;")
      | Delete Server
    button(data-trigger="[modal/close]")
      | Cancel
