- load humanizer

.breadcrumbs
  if path|get:0 == ''
    h3 {% trans "Dashboard" %}
  if path|get:0 == 'admins'
    h3 {% trans "Admins" %}
  if path|get:0 == 'servers'
    h3 {% trans "Servers" %}
  if path|get:0 == 'punishments'
    h3 {% trans "Punishments" %}
  if path|get:0 == 'players'
    h3 {% trans "Players" %}

  ul
    li
      if path|get:0 == ''
        i.icon.ion-md-globe
        | {% trans "Dashboard" %}
      if path|get:0 == 'admins'
        i.icon.ion-ios-flash
        | {% trans "Admins" %}
      if path|get:0 == 'servers'
        a(href='javascript:void(0)', onclick="window.vc('servers')")
          i.icon.ion-logo-buffer
          | {% trans "Servers" %}
      if path|get:0 == 'punishments'
        i.icon.ion-ios-warning
        | {% trans "Punishments" %}
      if path|get:0 == 'players'
        a(href='javascript:void(0)', onclick="window.vc('players')")
          i.icon.ion-ios-people
          | {% trans "Players" %}

    if path|length == 2
      li
        //- Admins
        if path|get:0 == 'admins' and path|get:1 == 'web'
          a(href="javascript:void(0)" onclick="window.vc('admins[web]')")
            | {% trans "Web" %}
        if path|get:0 == 'admins' and path|get:1 == 'servers'
          a(href="javascript:void(0)" onclick="window.vc('admins[servers]')")
            | {% trans "Servers" %}

        //- Servers
        if path|get:0 == 'servers'
          a(href="javascript:void(0)" onclick="window.vc('servers[detailed]', '{{path|get:1}}')")
            = path|get:1|get_server_name

        //- Punishments
        if path|get:0 == 'punishments' and path|get:1 == 'bans'
          a(href="javascript:void(0)" onclick="window.vc('punishments[bans]')")
            | {% trans "Bans" %}
        if path|get:0 == 'punishments' and path|get:1 == 'mutes'
          a(href="javascript:void(0)" onclick="window.vc('punishments[mutes]')")
            | {% trans "Mutes" %}
        if path|get:0 == 'punishments' and path|get:1 == 'gags'
          a(href="javascript:void(0)" onclick="window.vc('punishments[gags]')")
            | {% trans "Gags" %}

        //- Players
        if path|get:0 == 'players'
          a(href="javascript:void(0)" onclick="window.vc('players[detailed]', '{{data.namespace}}')")
            = data.namespace

    if path|length == 3
      li Critical system failure
