- load i18n
.topbar
  .topwrap
    ul.usermenu
      li
        a(href='javascript:void(0)', data-trigger='[modal/open]', data-trigger-target='[modal/servers]')
          i.icon.ion-logo-buffer
      li
        a(href='#')
          i.icon.ion-ios-settings
      li(data-trigger='[system/messages/open]')
        a(href='#')
          i.icon.ion-ios-notifications
          .flag 10
        ul.notificationsArea
          li
            i.icon.ion-ios-warning
            .text
              a(href='') Unexpected server crash
              small 10 minutes ago
          li
            i.icon.ion-ios-warning
            .text
              a(href='') Unexpected server crash or some other shit
              small 10 minutes ago
          li
            a(href='')
              button View All
      .search
        i.icon.ion-ios-search
        input(type='text', placeholder='Enter a keyword to search...')
        .searchArea

script window._.init('.topbar')
