.section
  h3 Users
  ul
    for user in users
      li
        a(href='javascript:void(0)', onclick="window.vc('players[detailed]', '{{user.id}}')")= user.namespace
.section
  h3 Servers
  ul
    for server in servers
      li
        a(href='javascript:void(0)', onclick="window.vc('servers[detailed]', '{{server.id}}')")= server.name
