- load i18n
.section
  h3 {% trans "Users" %}
  ul
    for user in users
      li
        a(href='javascript:void(0)', onclick="window.vc('players[detailed]', '{{user.id}}')")= user.namespace
.section
  h3 {% trans "Servers" %}
  ul
    for server in servers
      li
        a(href='javascript:void(0)', onclick="window.vc('servers[detailed]', '{{server.id}}')")= server.name
