.modal(data-component='[modal/servers]')
  h1 {% trans "Servers" %}
  .close(data-trigger='[modal/close]')
    i.icon.ion-ios-close
  table
    thead
      tr
        th {% trans "Server" %}
        th {% trans "Map" %}
        th {% trans "Players" %}
        th {% trans "Uptime" %}
        th {% trans "Game" %}
    tbody

script.
  window.modal('skeleton[servers]', '[modals/servers]')
