.modal(data-component='[modal/servers]')
  h1 Servers
  .close(data-trigger='[modal/close]')
    i.icon.ion-ios-close
  table
    thead
      tr
        th Server
        th Map
        th Players
        th Uptime
        th Game
    tbody
      tr
        td MyCommunity.com | Surfing 24/7
        td de_surf
        td
          .green 12
          |  /
          .red 32
        td 32h 10m 07s
        td Counter-Strike: Global Offensive
