.paginationContent
  .innerMain
    h1 Admins
    .CBox.nomargin
      .timeTableGo.fRight
        i.icon.ion-ios-arrow-forward
      .timeTableGo.fLeft
        i.icon.ion-ios-arrow-back
      h3.center
        span Page
        span.current 1
        span /{{pages}}
      table.timeTable
        thead
          tr
            th
            th
            th Username
            th Role
            th Server
        tbody
  .innerSide
    h1 Options
    .CBox.nomargin
      h3
        i.icon.ion-ios-funnel(style='margin-right:10px')
        |  Search Filters
        button(style="margin-top: -13px;float: right;width: auto;") Edit
      p Displaying active search filters:
      ul.searchTags
        li
          b Servers
          |  – Surf
          i.icon.ion-ios-close
        li
          b Roles
          |  – Critical Error
          i.icon.ion-ios-close

  script.execute.
    window.ajax("admins[servers][admins]", ".paginationContent tbody", 1, true)
    window.pagination = {
      'current': 1,
      'limitation': {{pages}}
    }
