.command
  .segment.first
    span.symbol.blue #
    span.lblue= data.user.namespace
    - if perms.core.view_chat_ip
        span.symbol.white @
        span.green= data.ip
    - if perms.core.view_chat_server
        span.symbol.white in
        span.lipstick= data.server.name
    .spacer
    - if perms.core.view_chat_time
        span
            |[
            = data.created_at|date:"d.m.Y H:i:s"
            |  ]
  .segment.second
    span.symbol.red $
    span= data.message
