.command
  .segment.first
    span.symbol.blue #
    span.lblue indietyp
    span.symbol.white @
    span.green 112.246.244.168
    span.symbol.white in
    span.lipstick Retake76
    .spacer
    span [12.19.2018 12:12:13]
  .segment.second
    span.symbol.red $
    span Hello!
